.boxq{
    @extend %box;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* Encadré pour voir les limites du formulaire */
    z-index: 3;
    justify-content: center;
}

.question{    
    width: 100%;    
    color: white;
}

.question label{
    display: inline-block;
    text-align: center;
}

td{
    display: block;
}

.number{
    width: 20px;
    background-color: white;
}

.quest .qu{
    width: 400px;
    text-align: center;
    }
 
.q{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.q input{
    text-align: center;
}

.r{
    margin-top: 10px;
    margin-bottom: 10px; 
}

.r1{
    float: left;
    margin-left: 5%;
}

.r1 input{
     @extend %reponse;
}

.r2 input{
    @extend %reponse;
}

.r3{
    float: left;
    margin-left: 5%;    
}

.r3 input{
    @extend %reponse;
}

.r4 input{
    @extend %reponse;
}

.answer{
    margin-left: -50px;
    margin-top: 20px;
}

.points{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -70px;  
}

.points input{
    text-align: center;
    width: 50px;
}

.correct{
    width: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
